.swiper-wrapper {
    margin-left: 60px;
    padding: 50px;
    justify-content: flex-start;
    transition-property: transform;
    box-sizing: content-box;
    flex-direction: row;
    flex-wrap: wrap;
}
